# 1. 虚拟环境目录
venv/
env/
.venv/
.env/

# 2. Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 3. 环境变量与机密信息
.env
*.secret

# 4. IDE 与编辑器配置文件
.vscode/
*.swp

# 5. 日志文件与本地测试数据库
*.log
db.sqlite3

# 6. OS
.DS_Store
Thumbs.db

# 7. personal image
*.png
*.jpg
